h1{
  background-color: hwb(251 37% 1%);
  font-style inherit; 
  text-align: center;
  line-height:2;
}
h2{
    background-color: none;
    text-align: center;
    line-height:2;
    padding-bottom: 20px;
}
h4{
  background-color: none;
  text-align: center;
  line-height:2;
  padding-bottom: 20px;
}
.text {
    border:1px solid white;
    position: static relative;
}
ul{
   list-style-type:none;  
   margin: 0;
   content:5px; 
}
form{
  padding-top: 30px
}

